In [25]:
import pandas as pd
import numpy as np

In [26]:
# 任务1：将列表转化为numpy数组
import numpy as np
data0 = [2,4,6.5,8]
arr0 = np.array(data0)

In [27]:
# 任务2：新建Pandas中的Series数据类型，打印出其大小，索引值，值

In [28]:
#pandas中的Series数据类型
s = pd.Series(data=[100, 'a', { 'dic1': 5 }],
              index=pd.Index(['id1', 20, 'third'], name='my_idx'),
              dtype='object',
              name='my_name')

In [29]:
s2 = pd.Series(["1","2","3","4","5"])

In [30]:
s2.index.values

array([0, 1, 2, 3, 4], dtype=int64)

In [31]:
type(s2.values[0])

str

In [32]:
s2.size

5

In [33]:
s2.shape[0]

5

In [34]:
#任务3：创建DataFrame类型的数据，并获取其索引，值及表大小
d = {
    "作者":pd.Series(['余华','残血','莫言']),
    "作品":pd.Series(['活着','暗夜','红高粱']),
    "价格":pd.Series([32,45,56]),
}
df = pd.DataFrame(d)

In [35]:
df.index.values

array([0, 1, 2], dtype=int64)

In [36]:
df.shape

(3, 3)

In [37]:
df.size

9

In [38]:
df['作品']

0     活着
1     暗夜
2    红高粱
Name: 作品, dtype: object

In [39]:
贵州茅台原始数据 = pd.read_csv(R'output\600519.csv')

In [40]:
#按列查询数据
贵州茅台原始数据['TURNOVER']

0        1410347008
1         463463008
2         194689000
3         177558000
4          86231000
           ...
4089     2694714080
4090    10663392512
4091     5239853056
4092     5581027328
4093     5227695104
Name: TURNOVER, Length: 4094, dtype: int64

In [41]:
#按照行索引
贵州茅台原始数据.loc[0]

day           2001-08-27
STOCK_CODE       6005191
open               34.51
close              35.55
maximum            37.78
minimum            32.85
volume            406318
TURNOVER      1410347008
Name: 0, dtype: object

In [42]:
贵州茅台 = 贵州茅台原始数据.set_index('day')

In [43]:
贵州茅台.loc['2001-08-27',['open','close']]

open     34.51
close    35.55
Name: 2001-08-27, dtype: float64

In [44]:
贵州茅台.loc['2008-10-22',['open','close']]

open     93.77
close    96.38
Name: 2008-10-22, dtype: float64